<%= form_with do %>
  <div class="field">
    <%= label_tag :email, t('.email') %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="button">
    <%= submit_tag t(".send")%>
  </div>
<% end %>
